body {
  margin: 0;
  padding: 0;
}

.loading_parent {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}

.loading {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scale 0.9s infinite;
}

.loading:nth-child(2) {
  animation-delay: 0.4s;
}
.loading:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes scale {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(1.1);
    opacity: 0;
  }
}
